wk1/hw1/.stack-work/install/x86_64-linux
wk1/hw1/.stack-work/ghci
wk1/hw1/.stack-work/dist/x86_64-linux/ghc-9.6.7
wk1/hw1/.stack-work/stack.sqlite3
wk1/hw1/.stack-work/stack.sqlite3.pantry-write-lock
