wk1/hw1/.stack-work/install/x86_64-linux
wk1/hw1/.stack-work/ghci
wk1/hw1/.stack-work/dist/x86_64-linux/ghc-9.6.7
wk1/hw1/.stack-work/stack.sqlite3
wk1/hw1/.stack-work/stack.sqlite3.pantry-write-lock
wk2/docs
wk3/hw3/.stack-work
wk3/hw3/app
wk3/hw3/docs
wk3/hw3/test
wk3/hw3/CHANGELOG.md
wk3/L3160-04.key.pdf
wk3/L3160-03.key.pdf
wk3/L3160-02.pdf
wk3/L3160-01.pdf
wk3/hw3/stack.yaml.lock
wk3/hw3/stack.yaml
wk3/hw3/package.yaml
wk3/hw3/hw3.cabal
wk3/hw3/README.md
wk3/hw3/LICENSE
